{% extends "base.html" %}

{% block content %}

<h1>Students at UNL Dining Halls per Meal Period</h1>
<p>Waiting in long lines can be aggravating, especially if you're in a hurry. Not all dining halls are the same. Some of them are extremely crowded, while others are fairly reasonable. This application illustrates how many students have scanned into each dining hall at the given meal period in October and November of 2015.</p>
<br>
<p>A dining hall may be crowded or nearly empty for various reasons. The location of the hall is a pretty big factor. The meals that are offered that particular day plays an important part as well. Dining halls at UNL often tend to be consistant with their meals. For example, every Tuesday Abel Hall offers their infamous macaroni and cheese bar. This may be why this dining hall is more crowded at this time. To check out the menu, click <a href="http://menu.unl.edu/">here</a>.</p></p>
    <br>
<p>Click to learn which meal period generated the largest amount of students </p>



<ul>{% for object in halls %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
    {% endfor %}
</ul>
<br>
<p>The following graphs represent an academic week (Mon.-Fri.) of the dining hall meal datas. The weekend is included with each individual hall link, but it was not completely necessary to create a graph for because it is not consistent data. The academic week is consistent data because most students tend to stick to a standard schedule for the semester. </p>
<br>
<h3>Monday 11/2/15</h3>
<div style='display: inline-block; width: 100%; min-height: 300px;'><div style='position: relative; padding-bottom: 100%; padding-top:25px; height: 0;'><iframe src="//dining-hallmonday-719292.silk.co/s/embed/hbar/collection/dining-hall/numeric/total/numeric/lunch/numeric/breakfast/numeric/dinner/numeric/late-night" style="border:0;position: absolute; top:0; left:0; width: 100%;height:100%; min-height: 300px;"></iframe></div><div style='position:relative;margin-top:-33px;margin-bottom:10px;font-size:12px;color:gray;text-align:left;width:50%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;'>Data from <a target='_blank' style='text-decoration:none;'href='http://dining-hallmonday-719292.silk.co'>dining-hallmonday-719292.silk.co</a></div></div>
<br> 
<br>    
<h3>Tuesday 11/3/15</h3>
<div style='display: inline-block; width: 100%; min-height: 300px;'><div style='position: relative; padding-bottom: 100%; padding-top:25px; height: 0;'><iframe src="//dininghalltuesday.silk.co/s/embed/hbar/collection/dining-hall/numeric/total/numeric/lunch/numeric/breakfast/numeric/dinner/numeric/late-night" style="border:0;position: absolute; top:0; left:0; width: 100%;height:100%; min-height: 300px;"></iframe></div><div style='position:relative;margin-top:-33px;margin-bottom:10px;font-size:12px;color:gray;text-align:left;width:50%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;'>Data from <a target='_blank' style='text-decoration:none;'href='http://dininghalltuesday.silk.co'>dininghalltuesday.silk.co</a></div></div>
    <br>
    <br>
<h3>Wednesday 11/4/15</h3>
<div style='display: inline-block; width: 100%; min-height: 300px;'><div style='position: relative; padding-bottom: 100%; padding-top:25px; height: 0;'><iframe src="//dininghallwednesday.silk.co/s/embed/hbar/collection/dining-hall/numeric/total/numeric/lunch/numeric/breakfast/numeric/dinner/numeric/late-night" style="border:0;position: absolute; top:0; left:0; width: 100%;height:100%; min-height: 300px;"></iframe></div><div style='position:relative;margin-top:-33px;margin-bottom:10px;font-size:12px;color:gray;text-align:left;width:50%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;'>Data from <a target='_blank' style='text-decoration:none;'href='http://dininghallwednesday.silk.co'>dininghallwednesday.silk.co</a></div></div>
    <br>
    <br>
<h3>Thursday 11/5/15</h3>
<div style='display: inline-block; width: 100%; min-height: 300px;'><div style='position: relative; padding-bottom: 100%; padding-top:25px; height: 0;'><iframe src="//dininghallthursday.silk.co/s/embed/hbar/collection/dining-hall/numeric/total/numeric/lunch/numeric/breakfast/numeric/dinner/numeric/late-night" style="border:0;position: absolute; top:0; left:0; width: 100%;height:100%; min-height: 300px;"></iframe></div><div style='position:relative;margin-top:-33px;margin-bottom:10px;font-size:12px;color:gray;text-align:left;width:50%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;'>Data from <a target='_blank' style='text-decoration:none;'href='http://dininghallthursday.silk.co'>dininghallthursday.silk.co</a></div></div>
    <br>
    <br>
<h3>Friday 11/6/15</h3>
<div style='display: inline-block; width: 100%; min-height: 300px;'><div style='position: relative; padding-bottom: 100%; padding-top:25px; height: 0;'><iframe src="//dininghallthursday.silk.co/s/embed/hbar/collection/dining-hall/numeric/total/numeric/lunch/numeric/breakfast/numeric/dinner/numeric/late-night" style="border:0;position: absolute; top:0; left:0; width: 100%;height:100%; min-height: 300px;"></iframe></div><div style='position:relative;margin-top:-33px;margin-bottom:10px;font-size:12px;color:gray;text-align:left;width:50%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;'>Data from <a target='_blank' style='text-decoration:none;'href='http://dininghallthursday.silk.co'>dininghallthursday.silk.co</a></div></div>
<br>
<br>
<p>This site is a news application built by Kathleen Thomas for JOUR491,a special topics class offered at the University of Nebraska-Lincoln. This class focused on teaching students how to tell stories in a deeper way by utilizing news applications.</p>
    

{% endblock %}